In [1]:
import plotly

ModuleNotFoundError: No module named 'plotly'

In [ ]:
plotly.__version__

In [ ]:
import pandas as pd
import seaborn as sns
from  pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from matplotlib import  font_manager as font_manager
from datetime import datetime,timedelta
import numpy as np
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objects as go

In [ ]:
df=pd.DataFrame({'Years at work':[1,2,3,4],'income':[6500,10000,12000,14000]})
df.head()

In [ ]:
#simple line using plotly
fig=px.line(df,x='Years at work',y='income',title='Income by No of Years at Work')
fig.show()

In [ ]:
#simple line using seaborn
sns.set_style("darkgrid")
fig, ax = plt.subplots(figsize=(20,7))
s=sns.lineplot(data=df, x="Years at work", y="income")
s.set_title("Income by No of Years at Work")

In [ ]:

stud=['yasmeen','dalia','eman','sama']
math=[89,70,90,98]
science=[78,96,67,87]
programming=[81,87,92,99]
database_subject=[91,93,67,89]

In [ ]:
#Multiple line Using Plotly
fig=go.Figure()
fig.add_trace(go.Scatter(x=stud,y=math,name="Maths Marks",line=dict(color='blue',width=4)))
fig.add_trace(go.Scatter(x=stud,y=science,name="science Marks",line=dict(color='red',width=4)))
fig.add_trace(go.Scatter(x=stud,y=programming,name="Programming Marks",line=dict(color='green',width=4,dash='dash')))
fig.add_trace(go.Scatter(x=stud,y=database_subject,name="Database Marks",line=dict(color='purple',width=4,dash='dot')))
fig.update_layout(
    title='Students Marks',xaxis_title='Students',yaxis_title='Marks',
    title_font_size=20,
    font_family="Courier New",
    font_color="blue",
    title_font_family="Times New Roman",
    title_font_color="red",
    legend_title_font_color="green",
       font=dict(
        family="Courier New, monospace",
        size=20,
        color="RebeccaPurple"
    )
)
fig.show()

In [ ]:
#Multiple line Using Seaborn
sns.set_style("ticks")
sns.set(font_scale = 1.5)
fig, ax = plt.subplots(figsize=(20,7))
ax= sns.lineplot(x=stud, y=math,label='Math',color='blue',linewidth=2)
ax1 = sns.lineplot(x=stud, y=science,label="Science",color='red',linewidth=2  )
ax2 = sns.lineplot(x=stud, y=programming,linestyle='--',label='Programming',color='green',linewidth=2)
ax3 = sns.lineplot(x=stud, y=database_subject,linestyle=':',label='Database',color='purple',linewidth=2)
ax.set_title("Students Marks")
ax.legend()

In [ ]:
df=sns.load_dataset('titanic')
df.head()

In [ ]:
# bar plot using plotly
fig=px.bar(df,x='pclass',y='fare',color='sex',title='Passenger Class by fare and gender')
fig.show()

In [ ]:
fig, ax1 = plt.subplots(figsize=(10, 10))
sns.barplot(x='pclass', y='fare', hue='sex', data=df, ax=ax1)

In [ ]:
#Area using plotly
fig=px.area(df,x='sex',y='age',color='survived',title='Area plot for passenger status by gender and age ')
fig.show()

In [ ]:
#Scatter stacked using plotly
stud=['yasmeen','samah','faten']
fig=go.Figure()
fig.add_trace(go.Scatter(x=stud,y=[40,10,20],hoverinfo='x+y',mode='lines',line=dict(color='rgb(172,89,200)',width=.6),stackgroup='one'))
fig.add_trace(go.Scatter(x=stud,y=[50,5,2],hoverinfo='x+y',mode='lines',line=dict(color='rgb(100,51,90)',width=.6),stackgroup='one'))

In [ ]:
#pie chart using plotly
stud=['yasmeen','amira','marwa','sarah','sama','dalia']
marks=[34,56,76,87,45,90]
fig=go.Figure(data=[go.Pie(labels=stud,values=marks, pull=[0, 0,0 ,0.2, 0,0])])
fig.update_traces(textposition='inside',textinfo='percent+label')
fig.update_layout(title='students and their marks')

In [ ]:
# matplotlip pie chart
palette_color = sns.color_palette('bright')
fig, ax = plt.subplots(figsize=(20,7))
# plotting data on chart
plt.pie(marks, labels=stud, colors=palette_color,  explode=[0, 0,0 ,0.2, 0,0], autopct='%.1f%%')
# displaying chart
plt.show()

In [ ]:
#multilevel pie chart plotly
stud=['yasmeen','amira','marwa','sarah','sama','dalia']
teacher=['ibrahim','mohamed','abduallh','wadood','hussien','kiwan']
marks=[34,56,76,87,45,90]
fig =go.Figure(go.Sunburst(
   labels=["yasmeen", "sama","nancy","samar", "shreif",   "abduallh", "wadood","ibrahim", "Abel", "dalia", "sara", "amira"],
    parents=["", "yasmeen", "sama","sama", "yasmeen",  "shreif", "shreif","shreif", "yasmeen", "yasmeen", "dalia", "yasmeen"],
    values=[10, 14,11,8, 12, 10, 2,5, 6, 6, 4, 4],
))
#fig=go.Figure(go.Sunburst(labels=stud,parents=teacher,values=marks,))
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))
fig.show()

In [ ]:
fig =go.Figure(go.Sunburst(
    labels=["Eve", "Cain", "Seth", "Enos", "Noam", "Abel", "Awan", "Enoch", "Azura"],
    parents=["", "Eve", "Eve", "Seth", "Seth", "Eve", "Eve", "Awan", "Eve" ],
    values=[10, 14, 12, 10, 2, 6, 6, 4, 4],
))
# Update layout for tight margin
# See https://plotly.com/python/creating-and-updating-figures/
fig.update_layout(margin = dict(t=0, l=0, r=0, b=0))

fig.show()

In [ ]:
#scatter plot
iris=sns.load_dataset('iris')
iris.head()

In [ ]:
fig=px.scatter(iris,x='petal_length',y='petal_width',color='species',size='sepal_width',hover_data=['sepal_length'],title='Scatter plot of iris dataset')
fig.show()

In [ ]:
fig, ax1 = plt.subplots(figsize=(15, 7))

sns.scatterplot(
    data=iris, x="petal_length", y="petal_width", hue="species",sizes=(40, 400),size="sepal_width"
)